.App {
    font-family: sans-serif;
    background-color: #d3e1f1;
  }

* {
  margin: 0;
}

.left-menu-bar{
  background-color: #c084fc;
  border-spacing: 0px;
  padding: 0px;
  vertical-align: baseline;
}

.my-profile-text{
  align-items: center;
  padding: 2rem 0rem;
  width: 10rem;
  font-weight: bold;
  background-color: #e9d5ff;
}

.review{
  font-weight: normal;
  padding: 2rem 0rem;
}

.review-results{
  font-weight: normal;
  padding: 2rem 0rem;
}

.right-info-page{
  border-spacing: 0px;
}

.profile-bar{
  /* background-color: #c084fc; */
  height: 15rem;
  align-items: flex-end;
}

.name-mail-section{
  text-align: end;
  font-weight: normal;
  width: 15rem;
  padding-left: 45rem;
}

.name{
  font-size: 30px;
  margin-bottom: 1rem;
}

.mail{
  font-style: italic;
}

.profile-photo{
  height: 5rem;
  align-self: flex-start;
}

.dept-desg-bar{
  height: 14rem;
  background-color: aliceblue;
  width: 20rem;
}

.dept-bar{
  padding-left: 10rem;
  width: 20rem;
}

.photo{
  height: 5rem;
}

.title-description{
  padding-left: 1rem;
  text-align: left;
}

.title{
  font-weight: normal;
  padding-bottom: 0.5rem;
}

.description{

}

.desg-bar{
  text-align: left;
}

.dob-man-bar{
  height: 14rem;
  background-color: antiquewhite;
}
  